# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
node_modules
dist
dist-ssr
*.local
GUIA_SUBIDA_IMAGENES.md
GUIA_SUBIDA_IMAGENES2.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
.env
.env.local
.env.development
.env.production
GUIA_SUBIDA_IMAGENES.md
GUIA_SUBIDA_IMAGENES2.
