---
import ClientRouter from "astro/components/ClientRouter.astro";
import "../styles/global.css";
import ToasterProvider from "../components/ToasterProvider";
import LoginForm from "@/components/LoginForm";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>arqueo</title>
		<ClientRouter />
	</head>
	<body class="bg-blue-50">
		<ToasterProvider client:idle />
		<LoginForm client:load />
	</body>
</html>



