---
import AutoLogout from "../components/AutoLogout";
import "../styles/global.css";
---

<html lang="es">
  <body class="flex items-center justify-center h-screen bg-gray-50">
    <AutoLogout client:load />
  </body>
</html>
