---
// src/layouts/Layout.astro
import ClientRouter from "astro/components/ClientRouter.astro";
import ToasterProvider from "../components/ToasterProvider";
import Header from "../components/astro/Header.astro";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import ClerkWrapper from "@/components/ClerkWrapper";

const user = await Astro.locals.currentUser();
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/arq.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Arqueo Multiempresa</title>
    <Header />
  </head>
  <body>
    <!-- ✅ CORREGIDO -->
    <ClerkWrapper client:load>
      <slot />
      <ToasterProvider client:load />
      <ViewTransitions />
      <ClientRouter />
    </ClerkWrapper>
  </body>
</html>
