---
import { Toaster } from "sonner";
import "sonner/styles.css";   // ← ESTA ES LA RUTA CORRECTA EN VER. 2.x
---

<div id="toaster-root">
  <Toaster client:load richColors position="top-right" />
  <slot />
</div>
